<h4> <%="#{note.user.email} says:"%></h4>
<body>
  <table>
     <tr><th><%= "Comment:"%></th><td><%="#{note.text}" %></td></tr>
  </table>
  <p> <%= button_to "Delete note", track_note_url(note), method: :delete%> </p>

  <br>

</body>