<h1><%= @user.email %></h1>
<h2>User details</h2>
<body>
  <table>
    <% @user.attributes.each do |attr, val| %>
     <tr><th><%= "#{attr}"%></th><td><%="#{val}" %></td></tr>
    <%  end %>
  </table>

  <br><br>

</body>