<form action="<%= band_url %>" method="POST">
  <input type="hidden" name="_method" value="PUT">

  <input type="hidden"
          name="authenticity_token"
          value="<%= form_authenticity_token %>">


    <p> <label for="band_name">Enter the band name:
        <input type="text"
              name="band[name]"
              id="band_name" value="<%=@band.name%>"> </p>

  <p> <input type="submit" value="Update Band" > </p>

</form>